.local/setup_scripts/assets filter=lfs diff=lfs merge=lfs -text
.local/setup_scripts/assets/krita-flatpak-2026-05-03_16-20-20.tar.gz filter=lfs diff=lfs merge=lfs -text
.local/setup_scripts/assets/wallpapers-backup-2026-05-03_16-37-12.tar.gz filter=lfs diff=lfs merge=lfs -text
