/**

# dont ignore folder
!.gitattributes
!.gitignore
!.config/
!.local/
!.bashrc
!.zshrc
!.p10k.zsh

# .local/**
# .config/**

!.local/share
!.local/share/themes
!.local/share/themes/**
!.local/share/icons
!.local/share/icons/**

!Wallpapers/
!.local/bin/
!.local/lib
!.local/lib/hyde
!.local/setup_scripts

!.config/Thunar
!.config/foot
!.config/foot/**

!.config/wal
!.config/MangoHud
!.config/hypr
!.config/kitty
!.config/cava
!.config/fastfetch
!.config/nvim
!.config/wireplumber
!.config/pipewire
!.config/rofi
!.config/ags

# dont ignore their content

!Wallpapers/**
!.local/bin/**
!.local/lib/hyde/**
!.local/setup_scripts/**

!.config/nvim/**
!.config/kitty/**
!.config/hypr/**
!.config/cava/**
!.config/wal/**
!.config/fastfetch/**
!.config/MangoHud/**
!.config/Thunar/**
!.config/wireplumber/**
!.config/pipewire/**
!.config/ags/**
!.config/rofi/**

Wallpapers/Wall-Dcol/
Wallpapers/Wall-Dcol/**
.config/hypr/themes
**/accels.scm
# select some folder in config

