@import "./mixines/transition.scss";

window {
  background-color: transparent;
  // color: $color
}

.bar {
  padding: 4px 6px 0 6px;
}

button {
  padding: 1px 10px;
  border: none;
  box-shadow: none;
  background: $background;
  min-width: 0;

  &:active {
    color: $color2;
  }

  &:hover {
    color: $color7;
  }
}

.media button {
  color: $color14;
  border-radius: $rounded-md;
  padding: 0 10px;
  background: $background;
  border: 2px solid $color1;

  &:hover {
    color: $color0;
    background: $color3;
  }

  &.paused {
    color: $color0;
    background: $color7;
  }
}

label {
  font-weight: bold;
}

.systray {
  background: $color0;
  border-radius: $rounded-md;
  
  button {
    all: unset;
  }

  image {
    font-size: 14px;
  }


  .systray-icon.custom {
    font-size: 18px;
  }
}
.workspaces {
  background: $background;
  padding: 0 10px;
  border-radius: $rounded-md;

  button {
    all: unset;
    border: 2px solid $color2;
    min-width: 20px;
    min-height: 20px;
    border-radius: 10rem;
    margin: 6px 7px;

    &:nth-child(1) {
      margin-left: 0;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  .focused {
    background: $color5;
    border-color: $color5;
    opacity: 1;
  }

  .occupied {
    background: $color2;
    border-color: $color2;
    opacity: 1;
  }
}

.cpu-usage,
.memory-usage,
.client-title,
.clock,
.audio {
  .value {
    padding: 0px 10px;
    padding-left: 0px;
    border-radius: 0px $rounded-md $rounded-md 0;
    background: $background;
    color: $text;
  }

  .icon {
    border-radius: $rounded-md 0 0 $rounded-md;
    background: $background;
    padding-left: 10px;
    color: $text;
  }
}

progress,
highlight {
  min-height: 8px;
}

.notify-icon {
  all: unset;
  @include transition-color;
  color: $color13;
  background: $background;
  padding: 0 $rounded-md;
  border-radius: $rounded-md;

  &:hover {
    background: $color3;
    color: $color0;
  }

  image {
    font-size: $font-size;
  }

  &.has-notifications {
    color: $color4;

    &:hover {
      background: $color4;
      color: $color0;
    }
  }
}

.left,
.mid,
.others {
  border: 2px solid $color1;

  border-radius: $rounded-md;
  background-color: $background;
}
