#alert {
  .container {
    background: $background;
    border: 2px solid;
  }

  label {
    color: $color1;
  }

  button {
    border-radius: 8px;

    &.yes {
      border: 2px solid $color3;
      background: transparentize($color3, 0.9);


      label {
        color: $color3;
      }

      &:hover {
        background: $color3;

        label {
          color: $background;
        }
      }

    }

    &.no {
      border: 2px solid $color4;
      background: transparentize($color4, 0.9);

      label {
        color: $color4;
      }


      &:hover {
        background: $color4;

        label {
          color: $background;
        }
      }
    }
  }




}
