@import "./mixines/transition.scss";

.notification {
  background-color: $background;
  border: 2px solid $color1;
  padding: 6px;
  margin-bottom: 6px;
  border-radius: $rounded-lg;

  separator {
    margin: 4px 0px;
    background-color: transparentize($color1, 0.8);
  }

  .title {
    font-size: 12.5px;
  }

  .description {
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
  }

  .icon {
    color: $color0;

    .img {
      margin-right: 10px;
    }
  }

  .time {
    color: $color13;
    margin-right: 10px;
    border-radius: 10rem;
  }

  .close-button {
    &:hover {
      image {
        color: $color4;
      }
    }
  }

  .action-buttons button {
    background: $color0;
    color: $color1;

    &:hover {
      background: $color1;
      color: $color0;
    }
  }

  .app-name {
    opacity: 0.5;
    font-size: 12px;
  }
}

.notification.critical {
  border: 2px solid $color4;
}

window#notifications {
  all: unset;
  background-color: transparent;
  font-size: 14px;
  
  .notifications {
    margin: 4.8px;
  }
}

#notification-center {
  background-color: $background;
  color: $color13;
  // border: $border;
  border-radius: $rounded-lg;
  border: 2px solid $color1;

  .notifications-fallback {
    background: transparent;
    border-radius: $border-radius;

    label,
    image {
      color: transparentize($color1, 0.6);
    }
  }

  .notification {
    background-color: $color0;
    border: none;
    border-radius: $border-radius;
    color: $text;

    .notification-image {
      border-radius: $border-radius;
    }

    .action-buttons button {
      background: $background;

      &:hover {
        background: $color1;
        color: $color0;
      }
    }
  }

  .notification.critical {
    border: 2px solid $color4;
  }

  .notifications-header {
    padding: 4px;
    border-radius: $border-radius;

    separator {
      background-color: $color7;
      margin: 6px 0;
      margin-right: 4px;
      min-width: 3px;
      border-radius: 1rem;
    }

    label {
      font-size: 15px;
    }

    .notifications-disabled {
      background-color: $color5;

      image {
        color: $color0;
      }
    }

    button {
      background-color: $color0;
      color: $color13;
      border-radius: 1rem;
      padding: 6px;
      min-width: 20px;
      min-height: 20px;

      &:hover {
        @include transition-color;
        background-color: $color3;

        image {
          color: $color0;
        }
      }
    }
  }

  .notification-content {
    padding-top: 3px;
  }
}

.notification-center {
  min-width: 40rem;
  min-height: 40rem;
  padding: 10px;
}

.actions-container {
  button {
  &:hover {
    background-color: $color14;
  }
}}
