// @use "sass:color";



$font-size: 18px;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: $font-size;
}

@import "./colors.scss";
@import "/home/ln607/.cache/wal/colors.scss";
@import "./extra.scss";
@import "./bar.scss";

@import "./notifications.scss";
@import "./osd.scss";
@import "./mpris.scss";
@import "./quicksettings.scss";
// @import "./flatpak.scss";
// @import "./wall-picker.scss";
@import "./dialog.scss"


